// ================================== Colors ========================================
$white: #FFFFFF;
$black: #000000;
$grey-950: #111517;
$grey-400: #808080;
$grey-350: #979797;
$grey-300: #B2B2B2;
$grey-250: #C4C4C4;
$grey-50: #FCFCFC;
$blue-950: #202C36;
$blue-900: #2B3844;

