@use '/src/sass/mixins.scss' as *;

.btn {
  color: var(--text-color);
  background-color: var(--elem-color);
  padding: 8px 24px;
  @include text-preset-5-light;
  border-radius: 2px;
  box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  transition: 0.2s transform;

  &:hover {
    transform: scale(1.05);
  }

  &-icon {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 768px) {
  .btn {
    padding: 9px 32px;
  }
}
